body { padding-top: 50px; }

.glue-brand {
	font-size: 38px;
	font-weight: bold;
	font-style: normal;
	/* color: #3a87ad; */
	/* padding: 15px 15px; */
	letter-spacing: -4px;
}

/* Wrapper for page content to push down footer */
#glue-wrap {
	margin-top: 20px;
	min-height: 450px;
	height: auto;
}

.glue-jumbotron {
	background-image: url(#{     resource [     'img:crowd-concert-arms-raised.jpg' ]});
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 28px;
	padding-bottom: 28px;
}

.glue-jumbotron h1,.glue-jumbotron .h1 {
	font-size: 48px;
}

.glue-jumbotron-panel {
	background-color: transparent;
	color: white;
}

.glue-label {
	background-color: rgba(255, 255, 255, 0.7);
}

.glue-navbar-default {
	background-color: #f1f1f1;
}

#glue-feedback {
	height: 104px;
	width: 104px;
	position: fixed;
	top: 40%;
	z-index: 999;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3 );
}

#glue-feedback a {
	display: block;
	/*background: #D9534F;*/
	height: 35px;
	width: 120px;
	padding: 8px 16px;
	color: #ffffff;
	font-size: 19px;
	text-decoration: none;
}

.glue-hr-bottom-border {
	border-bottom: 1px solid #eeeeee;
}

.glue-btn-link {
	font-weight: normal;
  	cursor: pointer;
  	border-radius: 0;
  	background-color: transparent;
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
	        border-left: 0px;
	        border-right: 0px;
}

/* To be used in conjunction with .fa-li to nicely mix Bootstrap icons with Font Awesome icons in unordered lists. */
.glue-fa-li {
	width: 2.142857142857143em !important;
}

.glue-glyphicon-btn {
	padding: 9px 12px;
}

.glue-glyphicon-btn-lg {
	padding: 9px 20px;
}

.table td {
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

.glue-thumbnail {
	min-height: 350px;
	display: block;
	padding: 15px 4px;
	line-height: 1.428571429;
	border: 1px solid #ddd;
}

/* .glue-a {
	color: @link-color;
	text-decoration: none; 
} */

.glue-a:hover {
	color : darken;
	text-decoration: none;
}
