body { padding-top: 60px; }

/* Wrapper for page content to push down footer */
#glue-wrap {
	margin-top: 20px;
	min-height: 450px;
	height: auto;
}

.glue-block {
	margin-bottom: 20px;
}

.glue-tags {
	display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-between;
}

.glue-label {
	background-color: rgba(255, 255, 255, 0.7);
}

.glue-navbar-default {
	background-color: #f1f1f1;
}

#glue-feedback {
	height: 104px;
	width: 104px;
	position: fixed;
	top: 40%;
	z-index: 999;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3 );
}

#glue-feedback a {
	display: block;
	/*background: #D9534F;*/
	height: 35px;
	width: 120px;
	padding: 8px 16px;
	color: #ffffff;
	font-size: 19px;
	text-decoration: none;
}

.glue-hr-bottom-border {
	border-bottom: 1px solid #eeeeee;
}

.glue-btn-link {
	font-weight: normal;
  	cursor: pointer;
  	border-radius: 0;
  	background-color: transparent;
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
	        border-left: 0px;
	        border-right: 0px;
}

.glue-btn-xxs {
	padding: 1px 3px;
	font-size: 11px;
	line-height: 1.2;
	border-radius: 3px;
}

/* To be used in conjunction with .fa-li to nicely mix Bootstrap icons with Font Awesome icons in unordered lists. */
.glue-fa-li {
	width: 2.142857142857143em !important;
}

.glue-glyphicon-btn {
	padding: 9px 12px;
}

.glue-glyphicon-btn-lg {
	padding: 9px 20px;
}

.table td {
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
	vertical-align: middle !important;
}

.glue-thumbnail {
	height: auto;
	width: auto;
	max-width: 170px;
	max-height: 170px;
}

.glue-tile {
	min-height: 300px;
	max-width: 250px;
	display: block;
	padding: 10px 5px;
	line-height: 1.428571429;
	border: 1px solid #ddd;
	/* margin-top: -1px;
    margin-right: -1px; */
    margin-bottom: 10px;
}

.glue-a:link {
	color: #999;
}

.glue-a a {
	color: #999;
}

a.text-muted:hover {
  color: #777777;
}

.glue-badge {
  display: inline-block;
  padding: .5em .7em;
  font-size: 70%;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: bottom;
  font-family: monospace;
}

.glue-badge[href]:hover,
.glue-badge[href]:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.glue-badge:empty {
  display: none;
}

.glue-badge-li {
  position: absolute;
  left: -2.742857142857143em;
  /* min-width: 2.242857142857143em; */
}

#glue-map {
  bottom: 0;
  height: 100%; 
  width: 100%; 
  position:absolute;
  left: 0; 
  z-index: 0;
  overflow: hidden;
}

/* Overrides Primefaces calendar */
.ui-inputfield {
	padding: 0px !important;
}

.glue-map-btn {
	background-color: rgba(255, 255, 255, 0.8);
}

.glue-tab-pane {
	padding-top: 10px;
}

.facebook {
	color: #3b5998;
}

.google-plus {
	color: #dd4b39;
}

.twitter {
	color: #00aced;
}

.glue-cat:hover {
	padding-bottom: 8px; border-bottom: 0px solid #b94a48 ;
}

.glue-cat {
	text-transform: uppercase;
	font-weight: bold;
	color: #555;
	padding-bottom: 8px; border-bottom: 0px solid #b94a48 ;
}

.glue-img-cat {
	font-size: xx-large;
	text-align: center;
	color: 	#eee;
}

.glue-map-circle {
	border-radius: 50%;
	z-index: 0;
	width: 135px; 
	height: 135px; 
	cursor: pointer !important;
	border:1px solid #ddd;
	/* .center-block(); */
	margin-left: 50px;
}

.scroll-elem, .scroll-outer-container {
    height: 310px;
}

.scroll-outer-container {
    position: relative;
    overflow: hidden;
}

.scroll-inner-container {
    /* position: absolute;
    left: 0; */
    overflow-x: hidden;
    overflow-y: scroll;
}

/* .scroll-inner-container::-webkit-scrollbar {
    display: none;
} */


/* Alternative */
/* .scroll-elem {
    height: 310px;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
} */

::-webkit-scrollbar
{
  width: 3px;  /* for vertical scrollbars */
  height: 3px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: #fff;
}

::-webkit-scrollbar-thumb
{
  background: #ddd;
}

