.glue-brand {
	/* font-family: 'chopinscriptmedium'; */
	font-size: 50px;
	font-weight: bold;
	font-style: normal;
	/* color: #3a87ad; */
	/* padding: 15px 15px; */
	letter-spacing: -2px;
}

.glue-jumbotron {
	background-image: url(#{     resource [     'img:Empire-State-Building-view.JPG' ]});
background-position:center;
}
.glue-tightened-text {
	margin: 0;
	padding: 0;
	line-height: 70%
}

.glue-circled-text {
	background: #005a9c;
	color: #ffffff;
	width: 250px;
	height: 250px;
	display: table-cell;
	vertical-align: middle;
}

.glue-info-badge {
	cursor: pointer;
}

.glue-text-justified {
	text-align: justify;
}